<div id="signup-page">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 medium-offset-3 cell">
        <form>
          <div>
            <div class="medium-12 cell">
              <label>Username
                <input type="text" name="username" placeholder="username" autocomplete="username">
              </label>
            </div>
            <div class="medium-12 cell">
              <label>Password
                <input type="password" name="password" placeholder="password" autocomplete="new-password">
              </label>
            </div>
          </div>
        </form>
        <div>No account? <LinkTo @route="signup">sign up</LinkTo></div>
      </div>
    </div>
  </div>
</div>
